/*
.container{
    display: grid;
    height: 400px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" "main main. sidebar" "footer footer footer footer ";


}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}
*/
.container{
     display: grid;
    height: 400px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
   grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    

}
.item{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    align-content: center;
    color: white;
}
.item1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item2{
    grid-column-start: 1;
    grid-column-end:span ;
}